{    
    "Skeletonization": {
        "AutoTracking": true, 
        "FeedbackThreshold": 0.1, 
        "Type": "RegressionSkeletonization", 
        "CnnHPE": {
            "Filter": {
                "ThreshHold": {
                    "MaxDisplacement": 200, 
                    "SmoothCameraJointVelocity": false, 
                    "MinDisplacement": 30
                }
            }
        }, 
        "ActiveUsers": 2, 
        "MaxDistance": 4000
    }
}